#############################################
###   AnnotaPipeline CONFIGURATION FILE   ###
#############################################

#   ============================================
#   | Spare your time, Read this section first |
#   ============================================

#   First of all, some software/libs MUST be in your /bin:
#   ---------------------------
#   | Blastp                  |
#   | interproscan.sh         |
#   | rpsblast                |
#   | hmmscan                 |
#   | python3                 |
#               os            |
#               sys           |
#               subproces     |
#               pathlib       |
#               datetime      |
#               argparse      |
#               configparser  |
#               logging       |
#               Bio           |
#               re            |
#               numpy         |
#               pandas        |
#   | perl                    |
#   ---------------------------

#   Replace each variable of each program according to your analysis
#   All values are set to default
#   Possible values are included between brackets and separated by '/':
#     [ optionA / optionB / optionC ]

# IMPORTANT NOTES
#   Remove '#' from optional parameters if you have file/parameter
#   Output flags from each program are not listed: they are generic and named after your given basename
#   FLAGS THAT ARE NOT LISTED, HAVE NOT BEEN TESTED: you can *try*, but results are not guaranteed

#   For flags that are not listed, please inform it in a short way, when it's possible.
#   Software usually have 2 ways to pass an argument, with - or --
#   Whe accept the first one, because yes.

# ---

[EssentialParameters]

organism = Trypanosoma rangeli

basename = Trangeli

# [path] Swissprot Database
swissprot_path_db = /bases_externas/SwissProt_11_2019/uniprot_sprot.fasta

# [path] Specific database [accepted anyone of EupathDB] or NRDB
specific_path_db = /bases_externas/TriTrypDB_v46_11_2019/TriTrypDB_v46_11_2019_Prot.fasta

# [path] full path to binaries directory from BLAST
blast_path = /opt/blast-2.9.0+/bin/

# [path] CDD database
cdd = /bases_externas/blast_DB/NCBI_CDD_March2017/Cdd_LE/Cdd

# [path] PFAM hmm profile
pfam= /bases_externas/blast_DB/Pfam_DBv32/Pfam-A.hmm

# specific keywords to separate each HSP found in BLAST
key_words = hypothetical,unspecified,fragment,partial,unknown,fragemnt

# [int] number of threads to run all programs (default = 8)
threads = 8

# ---

[AUGUSTUS]
# ------------------------------------------------------------------------------------------------------------
# | If you pass a flag, which, by default, don't have value, please, inform value=flag, like example bellow: |
# | goterms = flag                                                                                           |
# ------------------------------------------------------------------------------------------------------------

augustus_path = /opt/Augustus

# [ both / forward / backward ]
strand = both

# [ partial / intronless / complete / atleastone / exactlyone ]
genemodel = intronless

# based on species within /path/to/augustus/config/species
species = trypanosoma_rangeli

# [ on / off ]
protein = on
introns = on
start = on
stop = on
cds = on

# OPTIONAL: when this option is used the prediction considering hints (extrinsic information) is turned on
#hintsfile = hintsfilename.gff

# OPTIONAL: file contains the list of used sources for the hints and their boni and mali
#extrinsicCfgFile = cfgfilename

# OPTIONAL: [ on / off ] currently works *only* for human, galdieria, toxoplasma and caenorhabditis
#UTR = on

# ---

[SequenceCleaner]

# [int] minimal size for input sequences
minsize_seq = 0

# [int] minimal % of unknown nucleotides (N)
clean_pc = 10

# ---

[CD-Hit]

# ------------------------------------------------------------------------------------------------------------
# | If you pass a flag, which, by default, don't have value, please, inform value=flag, like example bellow: |
# | goterms = flag                                                                                           |
# ------------------------------------------------------------------------------------------------------------

# [float] sequence identity threshold
c = 0.95

# [int] word length
n = 5

# ---

[BLAST]

# -----------------------------------------------------------------------
# | Blast must run with ONLY these parameters, any other will be ignored.|
# -----------------------------------------------------------------------

# [float] minimal recommended evalue = 0.00001
evalue = 0.00001

# [int] identity threshold to filter BLAST results against databases
identity = 40

# [int] positivity threshold to filter BLAST results against databases
positivity = 60

# [int] query coverage threshold to filter BLAST results against databases
#       for a more restrict search, use a higher value (default = 30)
coverage = 30

# [int] exact number of alignments (minimal recommended alignments: num_alignments = 5)
num_alignments = 15

[INTERPROSCAN]

# Intrerpro runs by default with: [-f GFF3, -t p, -goterms, -iprlookup], these flags are not listed
# ------------------------------------------------------------------------------------------------------------
# | If you pass a flag, which, by default, don't have value, please, inform value=flag, like example bellow: |
# | goterms = flag                                                                                           |
# ------------------------------------------------------------------------------------------------------------

# [int] Optional minimum nucleotide size
#ms = 3

goterms = flag

[HMMSCAN]

# HMMSCAN runs by default with: [--tblout, --noali], these flags are not listed
# ------------------------------------------------------------------------------------------------------------
# | If you pass a flag, which, by default, don't have value, please, inform value=flag, like example bellow: |
# | goterms = flag                                                                                           |
# ------------------------------------------------------------------------------------------------------------

# [1e-x] Evalue
E = 1e-5

# [1e-x] Filter per-domain output based on evalue. This reduce the number of false positive results
domE = 1e-5

[RPSBLAST]

# RPSBLAST runs by default with:
# [-outfmt "6 qseqid sseqid sacc bitscore evalue ppos pident qcovs stitle"], this flag is not listed
# ------------------------------------------------------------------------------------------------------------
# | If you pass a flag, which, by default, don't have value, please, inform value=flag, like example bellow: |
# | goterms = flag                                                                                           |
# ------------------------------------------------------------------------------------------------------------

# [float] Evalue
evalue = 0.00001

# [int]
num_alignments = 5
