#############################################
###   AnnotaPipeline CONFIGURATION FILE   ###
#############################################

#   =============================================
#   | Spare your time, read this section first! |
#   =============================================

#   First of all, some software/libs MUST be in your /bin:
#    --------------------------------------
#   | perl    (only if Augustus is used)   |
#   | blastp                               |
#   | rpsblast                             |
#    --------------------------------------

#   Replace each variable of each program according to your analysis
#   All values are set to default
#   Possible values are included between brackets and separated by '/':
#     [ optionA / optionB / optionC ]

#   IMPORTANT NOTES
#
#   Remove '#' from optional parameters if you have file/parameter
#   Output flags from each program are not listed: they are generic and named after your given basename
#   FLAGS THAT ARE NOT LISTED, HAVE NOT BEEN TESTED: you can *try*, but results are not guaranteed

#   For flags that are not listed, please inform it in a short way, when it's possible.
#   Software usually have 2 ways to pass an argument, with - or --
#   Whe normally use the first one, because why not?

# ---

[EssentialParameters]

# [path] python version to run scripts
# WARNING: AnnotaPipeline was tested with python3 and python3.6, these are recommended versions
#          if any problem appear, check AnnotaPipeline_Logfile.log for possible issues with python version
python_exe = python3

# --- python3 --- libraries required ------
#               argparse                   |
#               Bio                        |
#               configparser               |
#               datetime                   |
#               logging                    |
#               numpy                      |
#               os                         |
#               pandas                     |
#               pathlib                    |
#               re                         |
#               subprocess                 |
#               sys                        |
# -----------------------------------------

organism = Trypanosoma rangeli SC58

basename = TrangeliSC58

# ------------------------- Databases ------------------------

# [path] Swissprot Database
swissprot_path_db = /bases_externas/SwissProt_11_2019/uniprot_sprot.fasta

# [path] Secondary database [accepted anyone of EupathDB], NRDB or TremblDB
# Give just one, left others empty
specific_db_path = /bases_externas/TriTrypDB_v46_11_2019/TriTrypDB_v46_11_2019_Prot.fasta
nr_db_path =
trembl_db_path =

# [path] CDD database
cdd = /bases_externas/interproscan-5.50-84.0/data/cdd/3.18/db/Cdd_NCBI

# [path] PFAM hmm profile
pfam= /bases_externas/interproscan-5.50-84.0/data/pfam/33.1/pfam_a.hmm

# ------------------------ Softwares ------------------------

# [path] full path to interproscan.sh [INTERPROSCAN SOFTWARE]
interpro_exe = /opt/interproscan-5.50-84.0/interproscan.sh

# [path] full path to hmmscan [HMMSCAN SOFTWARE]
hmm_exe = /usr/bin/hmmscan

# ------------------------ Other stuff ----------------------

# specific keywords to separate each HSP found in BLAST
key_words = hypothetical,unspecified,fragment,partial,unknown,fragemnt

# [int] number of threads to run all programs (default = 8)
threads = 8

# ---

[AUGUSTUS]
# ----------------------------------------------------------------------------------------------------------------
# | If you pass a flag, which by default doesn't have a value, please inform value=flag, like the example below: |
# | goterms = flag                                                                                               |
# ----------------------------------------------------------------------------------------------------------------

augustus_path = /opt/Augustus

# [ both / forward / backward ]
strand = both

# [ partial / intronless / complete / atleastone / exactlyone ]
genemodel = intronless

# based on species within /path/to/augustus/config/species
species = trypanosoma_rangeli

# [ on / off ]
protein = on
introns = on
start = on
stop = on
cds = on

# OPTIONAL: when this option is used the prediction considering hints (extrinsic information) is turned on
#hintsfile = hintsfilename.gff

# OPTIONAL: file contains the list of used sources for the hints and their boni and mali
#extrinsicCfgFile = cfgfilename

# OPTIONAL: [ on / off ] currently works *only* for human, galdieria, toxoplasma and caenorhabditis
#UTR = on

# ---

[SequenceCleaner]

# [int] minimal size for input sequences
minsize_seq = 0

# [int] minimal % of unknown nucleotides (N)
clean_pc = 10

# ---

[BLAST]

# --------------------------------------------------------------------------
# | Blast will run ONLY with these parameters, any others will be ignored. |
# --------------------------------------------------------------------------

# [float] minimal recommended evalue = 0.00001
evalue = 0.00001

# [int] identity threshold to filter BLAST results against databases
identity = 40

# [int] positivity threshold to filter BLAST results against databases
positivity = 60

# [int] query coverage threshold to filter BLAST results against databases
#       for a more restrict search, use a higher value (default = 30)
coverage = 30

# [int] exact number of alignments (minimal recommended alignments: num_alignments = 5)
num_alignments = 15

[INTERPROSCAN]

# InterPro runs by default with: [-f GFF3, -t p, -goterms, -iprlookup], these flags are not listed
# ----------------------------------------------------------------------------------------------------------------
# | If you pass a flag, which by default doesn't have a value, please inform value=flag, like the example below: |
# | goterms = flag                                                                                               |
# ----------------------------------------------------------------------------------------------------------------

# [int] Optional minimum nucleotide size
#ms = 3

goterms = flag

[HMMSCAN]

# HMMSCAN runs by default with: [--tblout, --noali], these flags are not listed
# ----------------------------------------------------------------------------------------------------------------
# | If you pass a flag, which by default doesn't have a value, please inform value=flag, like the example below: |
# | goterms = flag                                                                                               |
# ----------------------------------------------------------------------------------------------------------------

# [1e-x] Evalue
E = 1e-5

# [1e-x] Filter per-domain output based on evalue. This reduce the number of false positive results
domE = 1e-5

[RPSBLAST]

# RPSBLAST runs by default with:
# [-outfmt "6 qseqid sseqid sacc bitscore evalue ppos pident qcovs stitle"], this flag is not listed
# ----------------------------------------------------------------------------------------------------------------
# | If you pass a flag, which by default doesn't have a value, please inform value=flag, like the example below: |
# | goterms = flag                                                                                               |
# ----------------------------------------------------------------------------------------------------------------

# [float] Evalue
evalue = 0.00001

# [int]
num_alignments = 5

[KALLISTO]

# KALLISTO is optional
#   If you want to run kallisto, give full path to kallisto and 
#   both values to RNA-seq data and method to parse

# [path] Full path to kallisto software
kallisto_path = 

# [file(s)] Path to RNA-seq reads (2 files for paired-end data or 1 file for single-end data)
#           EXAMPLE: rnaseq-data = /home/R1.fastq /home/R2.fastq
rnaseq-data = r1.fq r2.fq

# ----------------------------------------------------------------------------------------------------------------
# | WARNING1: flags -l and -s are required for single-end data. If one file were given in rnaseq-data, provide a |
# |           value for these parameters                                                                         |
# | WARNING2: leave blank if you don't want to use this flags with paired end data                               |
# ----------------------------------------------------------------------------------------------------------------

# [float] Estimated average fragment length
l = 1

# [float] Estimated standard deviation of fragment length
s = 1

# TPM threshold to parse Kallisto output [ median / mean / value] (choose one)

# [flag] Calculate TPM median from Kallisto abundance file and use this value as cutoff
#        EXAMPLE: median = flag
median = 

# [flag] Calculate TPM mean from Kallisto abundance file and use this value as cutoff
#        EXAMPLE: mean = flag
mean = flag

# [float] Use specific TPM value from Kallisto abundance file as cutoff
#         EXAMPLE: value = 297.83
value =

# [int] Default is 0
bootstrap = 0

[COMET]

# COMET is optional
#   If you want to run comet, give full path to comet
#   otherwise leave empty
# [path] Full path to comet software
comet_path = 

# [config_file] Configuration file to run commet
# Equivalent to -P flag
# -------------------------------------------------- TIP ---------------------------------------------
# | Type "comet -p" to generate this file                                                            |
# | Edit and adapt values                                                                            |
# | Leave "database_name" empty, this value will be passed with -D flag, after annotation process.   |                                              |
# ----------------------------------------------------------------------------------------------------
params = jonas.config

# [path] Full path to directory containing mass spectometry files 
# -------------------------------------------------- TIP ---------------------------------------------
# | Create a path with **only** mass spectometry files                                                |
# ----------------------------------------------------------------------------------------------------
# Supported input formats include mzXML, mzML, Thermo raw, mgf, and ms2 variants (cms2, bms2, ms2)
mass_files = /opt/joans/jonas

# ------------------------------ Scan range ------------------------------------
# | WARNING: first is required if last is given and vice-versa                 |
# ------------------------------------------------------------------------------
# [int] Specify the first/start scan to search, overriding entry in parameters file
first =

# [int] Specify the last/end scan to search, overriding entry in parameters file
last = 1

# ----------------------------- COMET PARSER -----------------------------------
# [int] Parse Comet output by charge (>=)
# Leave blank if you don't want to use this filter
charge = 
# ------------------------------------------------------------------------------
